<div class="user">
  <input (keyup)="changeuser($event)" [(ngModel)] = 'user' type="text"> <!-- מציג את המשימות עם ההקלדה-->
</div>

<div>
  {{user}}
</div>

<div>
  <ul>
    <todo *ngFor = "let todo of todos"
    [data] = "todo"  
    (myButtonClicked) = "showText($event)"></todo>
  </ul>
</div>
<div>
  this is the text from the child: {{todoTextFromTodo}}
</div>

