

<mat-card class="example-card">
    <mat-card-content> 
  <a routerLink = "">Todos</a>-
  <a *ngIf="!(authService.user | async)"routerLink = "/login">login</a>-
  <button (click) = "toRegister()">
    Register
  </button>-

  <button (click) = "toCodes()">
    Codes
  </button>
  <button *ngIf="authService.user | async"  (click) = "logout()">
    logout
  </button>
</mat-card-content> 
</mat-card>

<div>
  <h1>
    <div *ngIf="authService.user | async">
 welcome {{(authService.user | async)?.displayName}} <!--קריאה לאורזרבבל מתוך הדף-->
 </div>
 </h1> 
</div>




<!--<a routerLink ="">Todos</a>
<a routerLink = "/login">login</a>
<button (click) ="toRegister">Register</button> <!--האיוונט נמצא בסוגריים, אחרי השווה יש השם של הפונקציה
<button (click) ="toCodes">Codes</button> <!--האיוונט נמצא בסוגריים, אחרי השווה יש השם של הפונקציה-->
