<div>
  <div>
      <mat-form-field>
          <input [(ngModel)]= "text"  matInput placeholder="add todo">
            <mat-hint>add toodo</mat-hint>
        </mat-form-field>
        
  <button (click) = "addtodo()">
      add todo
    </button>
  </div>


  <ul>
    <todo *ngFor = "let todo of todos"
    [data] = "todo"  
    (myButtonClicked) = "showText($event)"></todo>
  </ul>
</div>
<div>
  this is the text from the child: {{todoTextFromTodo}}
</div>

<!-- <div>
  <ul>
    <todo *ngFor="let todo of todos" [data]="todo"></todo> <!--משתנים לטודו שיהיה מערך של טודו
    
      אנחנו הגדרנו את המילה דטא להיות האינפורט של טודו--
    אנחנו מריצים את הלולאה וכל פעם מעבירים מידע מדש למשתנה טודו
    
    
  </ul>
</div> -->
